#忽略json日志文件

/gym/*.json
/RILE/*.json
log

#忽略tensorboard日志

/gym/outputs/
/gym/output/

#忽略pycache

/gym/__pycache__/

#忽略模型
*.zip
*.pkl
*.pyc

#断点
/gym/checkpoint
/gym/*.meta
/gym/*.index
/gym/*00001